
header {
background-color: rgb(132, 132, 155);
padding: 20px;          
}
.navbar {
  background-color: #f8f4f4;
  color:RGB(20, 105, 105);
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
nav a {
  color: #928e8e;
  text-decoration: underline;
  margin-right: 50px; /* Increase the space between elements */
}

nav a: hover{
  color:rgb(255, 0, 0);
}

body{
  background-image: url("https://img.freepik.com/free-vector/gray-fluid-background-frame_53876-99021.jpg?w=740&t=st=1702287948~exp=1702288548~hmac=a3f68d8231020ea50d9a189c63d984300c6b62a3f8fca0789231b96dc9bf9fee");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat, 1fr;
  grid-gap: 20px;
}

.portflio{
  background-color: cornflowerblue
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
  font-size: 18px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}


.about{
  background-color: yellowgreen;
}

.interests{
  background-color: darkcyan;
}

footer{
background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
      }
